---
import Layout from '../layouts/Layout.astro'
import WidgetPanel from '../components/common/WidgetPanel.astro'
import Chart from '../components/Chart'

import {Teams} from '../lib/data'
import WidgetTable from '../components/common/WidgetTable.astro';

Teams.sort((a, b) => b.points - a.points);

import {db, User, Team, Player} from 'astro:db'
const users = await db.select().from(User)
const teams = await db.select().from(Team)
const players = await db.select().from(Player)
---

<Layout
  title=''
  description=''
>
  <main class='container p-4 w-[91rem] grid gap-4 grid-cols-[30%1fr]'>
    <WidgetPanel title='Clasificación'>
      <WidgetTable>
        <tr slot="header">
          <th>Pos</th>
          <th class='content-left'>Equipo</th>
          <th>Pts</th>
          <th>Pj</th>
          <th>Pg</th>
        </tr>

        {
          Teams.map(({ name, points, wins, plays }, index) => (
            <div>
              <tr>
                <td class={`font-bold ${index === 0 || index === 1 ? 'green' : ''} ${index === 9 || index === 10 || index === 11 ? 'red' : ''}`}>{index + 1}</td>
                <td class='content-left'>
                  <img
                    src=''
                    alt=''
                  />
                  <p>{name}</p>
                </td>
                <td class='font-bold'>{points}</td>
                <td class='font-bold'>{plays}</td>
                <td class='font-bold'>{wins}</td>
              </tr>
            </div>
          ))
        }
      </WidgetTable>
    </WidgetPanel>

		<div class="grid grid-cols-2 grid-rows-2 gap-4">
			<WidgetPanel title='Partidos' extraClass='flex flex-col justify-around h-[calc(100%-2rem)]'>
				<div class="grid grid-cols-3 p-2 bg-slate-500/10">
					<div class="flex flex-col items-center justify-center">
						<img class="w-12" src="/img/teams/183436923.png" alt="">
						<p>Nombre Equipo</p>
					</div>
					<div class="flex flex-col items-center justify-center gap-2">
						<div class="flex justify-center items-center gap-2">
							<span class="font-semibold text-2xl">3</span>
							<span>-</span>
							<span class="font-semibold text-2xl">0</span>
						</div>
						<button class="text-xs bg-blue-700 font-semibold px-2 py-1 rounded-sm">
							Ver partido
						</button>
					</div>
					<div class="flex flex-col items-center justify-center">
						<img class="w-12" src="/img/teams/726173891.png" alt="">
						<p>Nombre Equipo</p>
					</div>
				</div>
				<div class="grid grid-cols-3 p-2 bg-slate-500/10">
					<div class="flex flex-col items-center justify-center">
						<img class="w-12" src="/img/teams/183436923.png" alt="">
						<p>Nombre Equipo</p>
					</div>
					<div class="flex flex-col items-center justify-center gap-2">
						<div class="flex flex-col justify-center items-center">
							<span class="font-semibold">17:25:47</span>
							<span class="font-semibold">01/03/2024</span>
						</div>
					</div>
					<div class="flex flex-col items-center justify-center">
						<img class="w-12" src="/img/teams/726173891.png" alt="">
						<p>Nombre Equipo</p>
					</div>
				</div>
			</WidgetPanel>

			<WidgetPanel title='Economía'>
        <!-- <Chart client:load /> -->
			</WidgetPanel>

			<WidgetPanel title='Correo'>
        {
          users.map(user => (
            <div>
              <p>{user.name}</p>
            </div>
          ))
        }
			</WidgetPanel>

			<WidgetPanel title='Temporada'>

			</WidgetPanel>
		</div>
  </main>
</Layout>

<style>
  table {
    @apply w-full text-center;
  }

  table .green {
    @apply before:bg-green-400 before:w-1 before:block before:absolute before:top-0 before:bottom-0 before:left-0;
  }

  table .red {
    @apply before:bg-red-400 before:w-1 before:block before:absolute before:top-0 before:bottom-0 before:left-0;
  }

	thead {
		@apply uppercase text-xs text-slate-300;
	}

  tbody tr:nth-child(odd) {
    @apply bg-slate-800/40;
  }

	tbody td {
    @apply py-2 relative;
  }

  table .content-left {
    @apply flex justify-start gap-2;
  }
</style>
