---
import WidgetPanel from '../components/common/WidgetPanel.astro'
import WidgetTable from '../components/common/WidgetTable.astro'
import Layout from '../layouts/Layout.astro'
import { Players, calculatePlayerAverage } from '../lib/data'
---

<Layout
  title=''
  description=''
>
  <main class='container p-4 w-[91rem] grid grid-cols-2 gap-4'>
    <WidgetPanel title='Squad'>
      <div class='field'></div>
    </WidgetPanel>

    <WidgetPanel title='Lineup'>
      <WidgetTable>
        <tr slot="header">
          <th>Nº</th>
          <th class='content-left'>Name</th>
          <th>Forma</th>
          <th>Moral</th>
          <th>Energy</th>
          <th>Average</th>
        </tr>

        {
          Players.map((player, index) => (
            <tr>
              <td class='font-bold'>{player.dorsal}</td>
              <td class='content-left'>
                <img
                  src=''
                  alt=''
                />
                <p>{player.name}</p>
              </td>
              <td class='font-bold'>{player.form}</td>
              <td class='font-bold'>{player.morale}</td>
              <td class='font-bold'>{player.energy}</td>
              <td class='font-bold'>{calculatePlayerAverage(player, false, player.isGoalkeeper ? true : false)}</td>
            </tr>
          ))
        }

        
      </WidgetTable>
    </WidgetPanel>
  </main>
</Layout>

<style>
  .field {
    background-image: url('/img/mid-field.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 84%;
    height: 31rem;
    margin: 0 auto;
    opacity: .5;
    transform: perspective(250px) rotateX(8deg);
  }
</style>